.flex-col {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
}

mat-divider {
  margin-top: 15px;
  margin-bottom: 15px;
}
