<form [formGroup]="form">
  <div>
    <label for="name">Group Name:</label>
    <input formControlName="name">
  </div>

  <div>
    <label for="name">Username:</label>
    <input formControlName="name">
  </div>

  <div>
    <label for="name">Password:</label>
    <input formControlName="name">
  </div>

  <div>
    <label for="members">Members:</label>
    <div>
      @for (member of guests.controls; track $index; let i = $index) {
        <div>
          <label for="guestName">Name:</label>
          <input [formControlName]="i">
        </div>
      }
    </div>
  </div>
</form>
