<button matButton (click)="showAddGroupModal()">Add Group</button>
<mat-accordion multi>
  @for (group of groups(); track group.id) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{group.name}}
        </mat-panel-title>
        <mat-panel-description>
          <div>
            <mat-icon fontIcon="people"></mat-icon>
            <span>{{ group.members.length }}</span>
          </div>
          <button matButton (click)="showEditGroupMembersModal(group)">Add Group Member</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>Username: {{group.user.username}}</div>
      @if (group.members.length === 0) {
        There are no people in this group.
      }
    </mat-expansion-panel>
  }
</mat-accordion>

